<div class="row">
	<div class="col-md-12" data-ng-show="words.length > 0">
		<nav class= "navbar navbar-default" role= "navigation" >
			<div class= "navbar-header" >
				<a class="btn btn-lg btn-success" href="#/edit-word/0"><i class="glyphicon glyphicon-plus"></i>&nbsp;add</a>
			</div>
		</nav>
	<table class="table table-striped table-bordered">
		<thead>
			<th>Слово&nbsp;</th>
			<th>Значение&nbsp;</th>
		</thead>
		<tbody>
		<tr ng-repeat="data in words">
			<td>{{data.word}}</td>
			<td>{{data.meaning}}</td>
			<td><a href="#/edit-word/{{data.wid}}" class="btn">&nbsp;<i class="glyphicon glyphicon-edit"></i>&nbsp; ed</a></td>
		</tr>
		</tbody>
	</table>
	</div>
	<div class="col-md-12" data-ng-show="words.length == 0">
		<div class="col-md-12">
			<h4>No customers found</h4>
		</div>
	</div>
</div>